node_modules
dist
coverage
requirements
.vscode
*.js
*.json
README.md
.env*
prisma/**/*
docker-compose*
Dockerfile*
nginx.conf
.jest
src/ui/assets/*
yarn.lock
.gitattributes
.gitignore
.prettierignore


